@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:aquamarine;
}

::selection {
    background-color: rgb(243, 243, 241);
    color: rgb(255, 8, 8);
}

.container {
    /* background-color: rgba(233, 170, 170, 0.253); */
    background-color:rgb(21, 188, 230);
    border: none;
    border-radius: 10px;
    padding: 20px;
    height: 80%;
    max-width: 90vw;
    text-align: center;
    box-shadow: 7px 7px 5px rgb(71, 52, 52),
        inset 2px 2px 5px rgb(27, 83, 85);
    animation-name: right;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.38, 1.11, 0.02, 1.04);
    animation-iteration-count: 1;
}

@keyframes right {
    from {
        opacity: 0;
        transform: translateX(300px);
    }

    to {
        transform: translateX(auto);
    }
}

form {
    margin: 20px 0px 20px 0px;
}

form p {
    font-size: 24px;
}

h1 {
    margin: 5px 0px 5px 0px;
}

form label {
    font-size: 24px;
}

form select,
button,
input {
    font-size: 18px;
    width: 90%;
    padding: 10px;
    margin: 5px 0px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-family: sans-serif;
    background-color: rgba(143, 109, 146, 0.63);
    color: rgb(14, 12, 12);
    border: 1px solid grey;
}

form select,
button {
    background: linear-gradient(200deg, rgb(202, 197, 195) 30%, rgb(255, 178, 35));
    cursor: pointer;
    transition: all 0.7s ease;
    box-shadow: 4px 4px 2px rgb(119, 118, 118);
}

form select:hover,
button:hover {
    color: white;
    background: linear-gradient(200deg, blue 20%, rgb(11, 204, 211) 80%, orange 100%);
    box-shadow: 7px 7px 10px black;
}

form input {
    background-color: rgba(218, 216, 216, 0.384);
    color: rgb(22, 4, 4);
    padding-left: 20px;
    border: none;
}

form input::placeholder {
    color: rgb(0, 0, 0);
}

form input:hover{
    background-color: black;
    color: white;
}

form input:hover::placeholder {
    color: rgb(255, 255, 255);
}

form i {
    margin: 6px 0px 6px 0px;
    font-size: 35px;
}

.msg {
    display: inline-block;
    margin: 30px 0px 30px 0px;
    text-decoration: underline;
    font-size: 21px;
    font-weight: 700;
    max-width: 300px;
    color: rgb(218, 29, 29);
}

option {
    background-color: rgb(160, 10, 197);
    color: white;
}

.dropDown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
}

#rate {
    background: linear-gradient(55deg, rgb(55, 55, 163) 20%, rgb(152, 165, 165) 50%, rgb(170, 69, 69) 90%);
    transition: all 0.3s ease-in-out;
    color: white;
}

button:active {
    transform: rotateX(30deg);
}

.select-container {
    background-color: rgba(102, 51, 153, 0.11);
    border-radius: 15px;
}

form select {
    font-size: 15px;
    padding: 8px;
    margin: 9px 4px 9px 4px;
}


@media screen and (max-width:353px) {
    h1 {
        font-size: 31px;
    }

    form input {
        height: 20px;
    }

    .msg {
        font-size: 20px;
    }

    .container button {
        width: 95%;
    }
}

@media screen and (max-width: 335px) {
    h1 {
        font-size: 28px;
    }
}

@media screen and (max-width:299px) {
    button {
        width: 80%;
    }
}

@media screen and (max-width:272px) {
    h1 {
        font-size: 20px;
    }
}

@media screen and (max-width:340px) {
    h1 {
        font-size: 30px;
    }

    form p {
        font-size: 21px;
    }
}

@media screen and (max-width: 331px) {
    h1 {
        font-size: 29px;
    }

    form p {
        font-size: 20px;
    }
}

@media screen and (max-width: 322px) {
    h1 {
        font-size: 28px;
    }

    form label {
        font-size: 22px;
    }

    form p {
        font-size: 20px;
    }
}

@media screen and (max-width: 312px) {
    h1 {
        font-size: 27px;
    }

    form label {
        font-size: 21px;
    }

    form p {
        font-size: 20px;
    }
}

@media screen and (max-width: 302px) {
    h1 {
        font-size: 26.5px;
    }

    form label {
        font-size: 21px;
    }

    form p {
        font-size: 20px;
    }
}


@media screen and (max-width: 283px) {
    h1 {
        font-size: 24px;
    }

    form label {
        font-size: 20px;
    }

    form p {
        font-size: 20px;
    }
}

@media screen and (max-width: 273px) {
    h1 {
        font-size: 22px;
    }

    form label {
        font-size: 20px;
    }

    form p {
        font-size: 20px;
    }

    .select-container select {
        font-size: 13px;
    }
}

@media screen and (max-width: 263px) {
    h1 {
        font-size: 22px;
    }

    form label {
        font-size: 19px;
    }

    form p {
        font-size: 19px;
    }

    .select-container select {
        font-size: 13px;
    }

    .dropDown {
        display: flex;
        gap: 10px;
    }
}


@media screen and (max-width: 254px) {
    h1 {
        font-size: 21px;
    }

    form label {
        font-size: 18px;
    }
}

@media screen and (max-width: 244px) {
    h1 {
        font-size: 20px;
    }

    form label {
        font-size: 16px;
    }
}

@media screen and (max-width: 240px) {
    h1 {
        font-size: 20px;
    }

    form label {
        font-size: 17px;
    }

    form p {
        font-size: 17px;
    }

    form i {
        font-size: 30px;
    }
}

@media screen and (max-width:234px) {
    h1 {
        font-size: 19px;
    }

    form i {
        font-size: 20px;
    }
}


@media screen and (max-width:229px) {
    h1 {
        font-size: 19px;
    }

    form i {
        font-size: 20px;
    }

    button{
        font-size: 16px;
    }

    form i{
        font-size: 17px;
    }
}


@media screen and (max-width:224px) {
    h1{
        font-size: 17px;
    }

    form p{
        font-size: 15px;
    }

    form i{
        font-size: 12px;
    }


}


@media screen and (max-width: 223px) {
    h1 {
        font-size: 16px;
    }

    form label {
        font-size: 18px;
    }

    form {
        margin: 10px 0px 10px 0px;
    }

    form p {
        font-size: 18px;
    }

    form input {
        width: 80%;
        height: 20px;
    }

    .dropDown {
        gap: 2px;
    }

    form i {
        font-size: 10px;
    }

}